body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: roboto;
  background-color: #ffffff;
  /* scroll-behavior: smooth; */
  /* box-sizing: border-box; */
  /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./imgs/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}


@font-face {
  font-family: 'roboto';
  src: url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  /* font-weight: normal; */
}
/* 
h1{
  font-size: 19px;
} */

h1, h2, h3{
  font-weight: bolder;
}

p{
  font-weight: 100;
}

.hidden{
  opacity: 0;
  transition: all 1s;
}

.show{
  opacity: 1;
}

.smooth-scroll{
  transition: all .5s ease-in-out;
}

h1{
  /* font-size: 3em; */
}

/* Contenedor principal */
/* .container-principal{
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
} */
@media(min-width: 768px){
  /* BARRA DE NAVEGACION */
  ul {
    position: fixed;
    display: flex;
    justify-content: end;
    list-style-type: none;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 9;
    /* float: left; */
    margin: 0;
    gap: 5px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }
    
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
    
  li a:hover {
    float: left;
    font-size: 15px;
    background-color: #797979;
    cursor: pointer;
  }
  /* FIN BARRA DE NAVEGACION */
  
  /* ABOUT */
  .about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    /* padding: 10px; */
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5em;
    
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0,.1)), url('./imgs/About/about.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  
  }
  .about-me .content{
    width: 80%;
  }
  
  .about-me .content h1{
    font-size: 2em;
  }
  
  .about-me .content button{
    margin-top: 50px;
    border-style: none;
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: .9em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    transition: fon-size .9s;
  }
  
  .about-me .content button:hover{
    border-style: none;
    background-color: rgb(4, 146, 212);
    color: #ffffff;
    font-size: .7em;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 50px;
  }
  
  .about-me img{
    width: 450px;
    height: 450px;
  }
  /* FIN ABOUT */
  
  /* MISION VISION */
  .container-mision-vision{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* gap: 15px; */
    width: 100%;
    height: 100vh;
    font-size: 1.2em;
    /* box-shadow: 0px 0px 5px #000; */
    /* box-sizing: border-box; */
    /* background-color: aliceblue; */
  }
  
  .container-mision-vision .container-mision-content-image{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./imgs/Vision-Mision/mision.jpg');
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
  }
  
  .container-mision-vision .container-vision-content-image{
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('./imgs/Vision-Mision/vision.jpg');
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
  }
  
  .container-mision-vision 
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    padding: 30px;
    color: #ffffff;
    opacity: 1;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 0px #000; */
  }
  /* FIN MISION VISION */
  
  /* SERVICES */
  .container-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 80px;
    background-color: #ffffff;
  }
  
  .container-services h1{
    font-size: 2em;
  }
  
  .container-services .card-v{
    display: flex;
    flex-direction: row;
    gap: 8px;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: auto;
    height: 100vh;
    font-size: 1.5em;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 0px #000; */
    padding: 10px;
    transition: width 0.5s, font-size 0.5s;
  }
  
  .container-services .card-v-r{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    
    width: auto;
    height: 100vh;
    font-size: 1.5em;
    background-color: #ffffff;
    border-radius: 5px;
    /* box-shadow: 0px 0px 2px 0px #000; */
    padding: 10px;
    transition: width 0.5s, font-size 0.5s;
  }
  
  
  .container-services .card-v .images{
    width: 50%;
  }
  
  .container-services .card-v-r .images{
    width: 50%;
  }
  
  .card-v-images{
    width: 450px;
    height: 350px;
    object-fit: cover;
  }
  
  .container-services .card-v .card-v-content{
    width: 50%;
  }
  .container-services .card-v-r .card-v-content{
    width: 50%;
  }
  
  .card-v-title { 
    font-size: 1.4em;
    font-weight: 700;
  }
  
  .card-v-texto { grid-area: card-v-texto; }
  /* FIN SERVICES */
  
  /* TOOLS */
  .container-tools{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f3;
  }
  
  .container-tools h1{
    font-size: 2em;
    margin-bottom: 150px;
  }
  
  .container-tools .card-tools{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .container-tools .card-tools .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    transition: width .5s, height .5s, border-radius .5s;
    /* background-color: #b8b8b8; */
  }
  
  .container-tools .card-tools .card img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
  
  
  /* .container-tools .card-tools .card:hover{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #b8b8b8;
  } */
  
  /* .container-tools .card-tools .card .content{
    display: none;
  } */
  
  .container-tools .card-tools .card .content h2{
    margin: 0;
  }
  
  .container-tools .card-tools .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-top: 0;
    height: 150px;
  }
  /* FIN TOOLS */
  
  
  /* SERVICES PLAN */
  .container-services-plans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .container-services-plans h1 {
    font-size: 2em;
    margin-bottom: 40px;
  }
  
  .container-services-plans .services{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  /* .container-services-plans .services:nth-child(1){
    margin-top: 0;
  }
  
  .container-services-plans .services:nth-child(3){
    top: 0;
  }
  .container-services-plans .services:nth-child(2){
    margin-top: 80px;
  } */
  
  
  /* PLANS LEFT */
  .container-services-plans .services .card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    /* padding: 10px; */
    border-radius: 0 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0px #000;
  }
  
  .container-services-plans .services .card .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffff;
    border-radius: 0px 40px;
    background-color: rgb(0, 174, 255);
  }
  
  .container-services-plans .services .content{
    /* width: 100%; */
    height: 250px;
    padding: 10px;
    margin-top: 20px;
    /* border-radius: 5px; */
    background-color: #ffffff;
    /* box-shadow: 0px 0px 3px 0px #000; */
  }
  .container-services-plans .services .price{
    margin-top: 15px;
    font-size: 1.4em;
    text-align: center;
    padding-inline-start: 10px;
    /* box-shadow:  0px 2px 0px #000; */
  }
  
  .container-services-plans .services .card button{
    border-radius: 0px 20px;
    margin: 40px;
    cursor: pointer;
    height: 60px;
  
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-inline-start: 10px;
    border-style: none;
  }
  /* FIN PLAN LEFT */
  
  /* PLAN CENTER */
  .container-services-plans .services .card-c{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    /* padding: 10px; */
    border-radius: 0px 0px 40px 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0px #000;
  }
  
  .container-services-plans .services .card-c .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffff;
    border-radius: 0 0 40px 40px;
    background-color: rgb(0, 174, 255);
  }
  
  .container-services-plans .services .card-c button{
    border-radius: 10px;
    margin: 40px;
    cursor: pointer;
    height: 60px;
  
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-inline-start: 10px;
    border-style: none;
  }
  /* FIN PLAN CENTER */
  
  /* PLAN RIGHT */
  .container-services-plans .services .card-r{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    /* padding: 10px; */
    border-radius: 40px 0px;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px 0px #000;
  }
  
  .container-services-plans .services .card-r .title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 0;
    color: #ffffff;
    border-radius: 40px 0px;
    background-color: rgb(0, 174, 255);
  }
  
  .container-services-plans .services .card-r button{
    border-radius: 20px 0;
    margin: 40px;
    cursor: pointer;
    height: 60px;
  
    background-color: rgb(0, 174, 255);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-inline-start: 10px;
    border-style: none;
  }
  /* FIN PLAN RIGHT */
  
  /* FIN SERVICES PLAN */
  
  
  /* TEAM */
  .container-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f1f2f3;;
  }
  
  .container-team .title{
    font-size: 2em;
    margin-bottom: 130px;
  }
  
  .container-team .container-team-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
  
  }
  
  .container-team .container-team-cards .card{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 500px;
    padding: 10px;
    box-shadow: 1px 1px 8px 0px #000;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .container-team .container-team-cards .card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    object-fit: cover;
    /* box-shadow: 1px 1px 8px 0px #000; */
  }
  /* FIN TEAM */


  /* FOOTER */
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: auto;
    background-color: #000;
    color: #ffffff;
  }

  footer .columns{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer div div a {
    color: #ffffff;
    text-decoration: none;
  }
  
  footer div div a:hover {
    color: #ffffff;
    text-decoration: underline;
  }

  footer h4 a{
    color: #ffffff;
    text-decoration: none;
  }

  footer h4 a:hover{
    color: #ffffff;
    text-decoration: underline;
  }
  /* FIN FOOTER */

  
  
  /* SCROLL */
  /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
  
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
      width:15px;
  }

  ::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
      display: none;
  } 

  ::-webkit-scrollbar:horizontal {
      height: 10px;
  }

  ::-webkit-scrollbar-thumb {
      background-color: #797979;
      border-radius: 20px;
      border: 2px solid#f1f2f3;
  }

  ::-webkit-scrollbar-track {
      border-radius: 10px;
  }
  /* FIN SCROLL */
}